table {
  width: 100%;
  overflow-x: scroll;
}

thead {
  background-color: rgb(8, 28, 70);
  color: white;
  border-radius: 5px 5px 0 0;
}
tr {
  text-align: center;
}
tr:nth-child(even) {
  background-color: #dcdcdc;
}

th,
td {
  padding: 8px 8px;
}
.rank,
.price {
  cursor: pointer;
  display: flex ;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.filter {
  display: flex;
  /* background-color: rgb(227, 227, 227); */
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.input-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

input {
  border: 2px solid rgb(8, 28, 70);
  outline: none;
  border-radius: 5px;
  height: 25px;
  font-size: 15px;
  padding: 2px 5px;
}

/* @media screen(maxwie) {
    
  } */

.navlink {
  color: rgb(139, 78, 209);
  text-decoration: none;

  font-weight: 600;
}
